header {
    background-color: green;
    color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}

#submit {
    text-align: center;
    text-decoration: none;
    background-color: green;
    color: white;
    padding: 20px;
    border-radius: 5px;
}
#submit:hover {
    background-color: lawngreen;
    color: black;
    padding: 25px;
}
#front{
    position: relative;
    left: 45%;
    top: 200px;
    width: min-content;
}