header {
    background-color: green;
    color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}

#front {
    position: relative;
    left: 41.1%;
    top: 200px;
}

#fbtn {
    text-align: center;
    text-decoration: none;
    background-color: green;
    color: white;
    padding: 20px;
    border-radius: 5px;
}

#fbtn:hover {
    background-color: lawngreen;
    color: black;
    padding: 40px;
}